* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}
img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

:root {
    --yellow : #F0B90B;
    --yellow-bold : #FFBD00;
    --gray : #A8AAB4;
}

.bytecoin{
    width: auto;
    height: 845px;
}
.bytecoin__container{
    width: 1346px;
    height: 845px;
    margin: 0 auto;
    background-color: #191D28;

}
.bytecoin__header{
    width: 100%;
    height: 100px;
    border-bottom:6px solid #282C38;
    display: flex;
    justify-content: space-between;
    margin-right: 36px;
}
.bytecoin__header-left{
    display: flex;
    margin-left: 28px;
}
.header__menu{
    list-style: none;
    margin-top: 30px;
}
.header__menu-item{
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    margin-right: 36px;
    cursor: pointer;
}
button{
    margin-right: 28px;
    margin-top: 20px;
    background-color:  var(--yellow);
    width: 142px;
    height: 50px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
}
.header__image{
    margin-right: 38px;
}
.border-box{
    border: 1px solid #F04086;
    width: 162px;
    height: 42px;
    position:relative;
    text-align: center;
    border-radius: 39px;
    line-height: 38px;
}
.header__menu-item:hover{
    opacity: 0.8;
}
